<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lot.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @lot.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lot.description %>
</p>

<p>
  <strong>Startprice:</strong>
  <%= @lot.startPrice %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @lot.startTime %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @lot.duration %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
